<section id="home">
  <div class="container-fluid d-none d-md-block">
    <!-- carousel -->
    <ngb-carousel>
      <!-- carousel slides starts here -->

        <!-- slide 1 -->
        <ng-template ngbSlide>
          <img src="assets/img/image1.jpg" class="item" alt="one">
        </ng-template>
        <!-- slide 1 ends -->

        <!-- slide 2 -->
        <ng-template ngbSlide>
          <img src="assets/img/image2.jpg" class="item" alt="two">
        </ng-template>
        <!-- slide 2 ends -->

        <!-- slide 3 -->
        <ng-template ngbSlide>
          <img src="assets/img/image3.jpg" class="item" alt="three">
        </ng-template>
        <!-- slide 3 ends -->

        <!-- slide 4 -->
        <ng-template ngbSlide>
          <img src="assets/img/image4.jpg" class="item" alt="four">
        </ng-template>
        <!-- slide 4 ends -->

        <!-- slide 5 -->
        <ng-template ngbSlide>
          <img src="assets/img/image5.jpg" class="item" alt="five">
        </ng-template>
        <!-- slide 5 ends -->

      <!-- carousel slides ends here -->
    </ngb-carousel>
    <!-- carousel ends -->
  </div>
</section>